---
- name: Register screen session
  find:
    paths: '/var/run/screen/S-root/'
    file_type: any
    patterns: '*.stress'
  register: screen_files

- name: Fail if existing screen session
  fail:
    msg: A stress session is already running. It might be some pending writes to disk.
  when: screen_files.matched != 0 and skip_screen_check == False

- name: install dependencies for building stress-ng
  yum: name=libattr-devel,keyutils-libs-devel,make,gcc,tar state=present

- name: install screen
  yum: name=screen state=present

- name: copy and extract stress-ng tarbalil
  unarchive: src=stress-ng-0.05.11.tar.gz dest="/root" copy=yes

- name: build stress-ng
  command: "make"
  args:
    chdir: '/root/stress-ng-0.05.11'
    creates: '/root/stress-ng-0.05.11/stress-ng'

- name: install stress-ng
  command: "make install"
  args:
    chdir: '/root/stress-ng-0.05.11'
    creates: '/usr/bin/stress-ng'

- name: create a temp dir for stress to use
  file: path="{{stress_tmp_dir}}" state=directory

- name: run stress-ng
  command: >
    screen -S stress -d -m
    stress-ng
    --timeout {{test_duration}}
    --hdd-bytes {{bytes_per_hdd_worker}}
    --vm-bytes {{bytes_per_vm_worker}}
    --vm-method all
    --cpu-method all
    --cpu {{cpu_workers}}
    --vm {{vm_workers}}
    --hdd {{hdd_workers}}
    --log-file {{stress_tmp_dir}}/stress-ng-{{ ansible_date_time.iso8601_basic_short }}.log
    && sleep 2
  args:
    chdir: "{{stress_tmp_dir}}"
  tags: skip_ansible_lint

- name: Get stress-ng process count
  shell: ps -ef|grep "[s]tress-ng"|wc -l
  register: stress_procs
  changed_when: False
  check_mode: False
  tags: skip_ansible_lint

- name: Fail if no stress-ng processes found
  fail:
    msg: No stress-ng processes found!
  when: stress_procs.stdout < 1

- name: Get dead screen count
  shell: screen -ls|grep -c Dead
  register: reg_dead_screens
  changed_when: False
  check_mode: False
  failed_when: False
  tags: skip_ansible_lint

- name: Fail if there are dead screens
  fail:
    msg: Found dead screens. stress-ng probably did not start. Run screen -wipe and try again.
  when: reg_dead_screens.stdout|int > 0
